@keyframes wrapper-gradient {
  0% {
    z-index: 0;
    transform: translateY(-100%);
  }
  100% {
    z-index: 10;
    transform: translateY(0);
  }
}
@keyframes wrapper-gradient-hide {
  0% {
    z-index: 10;
    transform: translateY(0);
  }
  100% {
    height: 0px;
    z-index: 0;
    transform: translateY(-100%);
  }
}
@keyframes showfirstpage {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
@keyframes hidefirstpage {
  from {
    height: 100%;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
@keyframes showHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideHeader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.unlimited {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  height: 2.2rem;
  line-height: 2.2rem;
  color: #04BE02;
  z-index: 1;
  padding: 0 .5rem;
}

/* 清除浮动 */
.clearfix {
  *zoom:1;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

 /* 单行文本溢出 */
.elliptical {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}